.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #526d82;
}

.login .brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .brand h1 {
  color: white;
  text-transform: uppercase;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #27374d;
  border-radius: 2rem;
  padding: 5rem;
}

.login input {
  background-color: #526d82;
  padding: 1rem;
  border: 0.1rem solid #9db2bf;
  border-radius: 0.4rem;
  font-size: 1rem;
  color: white;
}

.login input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.login input:focus {
  border: 0.1rem solid white;
  outline: none;
}

.login button {
  background-color: #526d82;
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.login button:hover {
  background-color: #6ea6d1;
}

.login span {
  color: white;
  text-transform: uppercase;
}

.login span a {
  color: #526d82;
  text-decoration: none;
  font-weight: bold;
}
