.contacts-container {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  background-color: #1c2838;
}

.contacts-container .brand {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}

.contacts-container .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.5rem;
}

.contacts-container .contacts .contact {
  background-color: #ffffff34;
  min-height: 3rem;
  cursor: pointer;
  width: 80%;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.contacts-container .contacts .selected {
  background-color: #526d82;
}

.contacts-container .current-user {
  background-color: #1c2838;
  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid white;
  border-top: 1px solid white;
}

.contacts-container .current-user .username h2 {
  color: white;
}
